cryptography==38.0.3
protobuf==4.21.11
pymongo==4.3.2
python-dotenv==0.21.0
requests==2.27.1
SQLAlchemy==1.4.43
cloud-sql-python-connector==1.0.0
google-cloud-secret-manager==2.12.6
pg8000==1.29.3
tqdm==4.64.1