cryptography==38.0.3
numpy==1.24.3
protobuf==4.23.4
pymongo==4.3.2
python-dotenv==1.0.0
Requests==2.31.0
SQLAlchemy==1.4.43
cloud-sql-python-connector==1.0.0
google-cloud-secret-manager==2.12.6
pg8000==1.29.3
tqdm==4.64.1
